@font-face {
    font-family: 'fuente nueva';
    src: url('Fonts/dk_moonlight_serenade-webfont.woff2') format('woff2'),
         url('Fonts/dk_moonlight_serenade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    color: #0BFF00;

}

body {
	font-family: 'fuente nueva', sans-serif, serif, courier, impact, arial;
	font-size: 20px;
}

div {
	background-image: url('WTM_logo1.png');
	background-size: contain;
	display: inline-block;
	height: 250px;
	width: 20%;
	float: left;
	overflow: hidden;

	padding: 25px;
	border: 5px solid #4CF1FF;
	margin: 10px;
}

 span {
 	display: inline-block;
 	width: 10%;
 	float: right;
 }